.padded {padding:25px;}
.bordered {border:1px solid #CCCCCC; border-radius: 6px;}
.centered {text-align:center;}
.lower {position:relative; top:10px;}
.spread * {margin-right:10px;}
.table-bordered {table-layout:fixed;}

td.debug {background-color:white;}
td.info {background-color:lightgray;}
td.warn {background-color:yellow;}
td.error {background-color:orange;}
td.fatal {background-color:red; color:white;}
td.sql {background-color:black; color:white;}

div.wmd-preview {border:1px solid #CCCCCC; border-radius: 6px; padding:10px;}
#wmd-image-button-0 {display: none;}
#wmd-link-button-0 {display: none;}