language: php
dist: precise

php:
 - '7.2.7'

services:
 - memcached
 - redis

before_script:
 - wget http://getcomposer.org/composer.phar
 - php composer.phar install --dev --no-interaction
 - phpenv config-add php.ini
 - yes '' | pecl install -f apcu-5.1.7

script:
 - vendor/bin/phpunit

after_script:
 - vendor/bin/php-coveralls
