language: php
dist: precise

php:
 - '7.2.7'

services:
 - memcached
 - redis

before_script:
 - wget http://getcomposer.org/composer.phar
 - php composer.phar install --dev --no-interaction
 - phpenv config-add travisphp.ini
 - yes '' | pecl install -f apcu-5.1.12

script:
 - vendor/bin/phpunit

after_script:
 - ls -l /home/travis/build/alphadevx/alpha
 - vendor/bin/php-coveralls -vvv --root_dir=/home/travis/build/alphadevx/alpha
