language: php
dist: focal

php:
 - '7.4'

services:
 - memcached
 - redis
 - mysql

before_script:
 - wget http://getcomposer.org/composer.phar
 - php composer.phar install --dev --no-interaction
 - phpenv config-add travisphp.ini

script:
 - vendor/bin/phpunit

after_script:
 - vendor/bin/php-coveralls -vvv
