language: php

php:
   - 5.5
   - 5.4

install:
  - composer require satooshi/php-coveralls:~0.6@stable

before_script:
  - mkdir -p build/logs

script: vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_success: vendor/bin/coveralls
