language: php
dist: precise

php:
 - '7.3'

services:
 - memcached
 - redis

before_script:
 - wget http://getcomposer.org/composer.phar
 - php composer.phar install --dev --no-interaction
 - phpenv config-add travisphp.ini
 - yes '' | pecl install -f apcu

script:
 - vendor/bin/phpunit

after_script:
 - vendor/bin/php-coveralls -vvv
