language: php

php:
 - 5.6
 - 5.5

services:
 - memcached
 - redis

before_script:
 - wget http://getcomposer.org/composer.phar
 - php composer.phar install --dev --no-interaction
 - phpenv config-add php.ini
 - yes '' | pecl install -f apcu-4.0.10

script:
 - vendor/bin/phpunit

after_script:
 - vendor/bin/coveralls