language: php

php:
 - 5.6
 - 5.5

services: memcached

before_script:
 - wget http://getcomposer.org/composer.phar
 - php composer.phar install --dev --no-interaction
 - phpenv config-add php.ini

script:
 - vendor/bin/phpunit

after_script:
 - vendor/bin/coveralls