body {
	margin-left:0;
	margin-right:0;
	margin-top:0;
	margin-bottom:0;
	width:100%;
	height:100%;
	background-color:white;
	overflow:auto;
	color:black;
	font-family:arial;
	font-size:10pt;
}

.boxout, pre.php, pre.xml, pre.javascript, pre.perl, pre.html4strict, pre.css {padding:5px; margin:8px; background-color:white; border:2px dashed #20557C;}
.usercomment {padding:5px; margin:5px; background-color:white; border:1px solid #027ABB; width:97%; text-align:left;}

.norButton {background-color:#5C5959; border: 2px solid #222222; text-align:center; overflow:hidden; font-family:arial; font-weight:bold; color:white; font-size:8pt !important;}
.oveButton {background-color:#B6B2B2; border: 2px solid #222222; text-align:center; overflow:hidden; font-family:arial; font-weight:bold; color:white; font-size:8pt !important;}
.selButton {background-color:#FBF9EE; border: 2px solid #222222; text-align:center; overflow:hidden; font-family:arial; font-weight:bold; color:black; font-size:8pt !important;}

h1 {font-size:170%; font-weight:bold; border:1px solid #222222; background-color:#575656; color:white; margin:1%;}
h2 {font-size:140%; margin:10px; color:#8C8B8B; margin-bottom:20px; margin-top:20px;}
h3 {font-size:120%; margin:10px; font:italic; color:#8C8B8B; margin-bottom:15px; margin-top:15px;}
h4 {font-size:110%; margin:10px; text-decoration:underline; color:#8C8B8B; margin-bottom:15px; margin-top:15px;}

.readonly {background-color:#DCDCDC;}

a:link {color:#222222; text-decoration:none; background-color:none;}
a:active {color:#222222; text-decoration:none; background-color:none;}
a:visited {color:#222222; text-decoration:none; background-color:none;}
a:hover {color:#222222; text-decoration:underline; background-color:none;}

td {font-size:8pt;}
th {font-size:8pt;}
input {font-size:8pt;}

table.bordered {background-color:whitesmoke;}
table.bordered th {font-weight:bold; border:1px solid #5C5959; background-color:#575656; color:white; font-family:arial; font-weight:bold; font-size:8pt; text-align:center;}
table.bordered td {border:1px solid #5C5959;}
th.bordered {font-weight:bold; border:1px solid #5C5959; background-color:#575656; color:white; font-family:arial; font-weight:bold; font-size:8pt; text-align:center;}
td.bordered {border:1px solid #5C5959;}
.bordered {border:1px solid #5C5959;}

table.create_view {table-layout:fixed; width:98%; margin:1%; border:1px solid #027ABB;}
table.create_view th {background-color:#575656; color:white; width:50%; text-align:right;}
table.create_view td {background-color:#E6E6E6; border:1px solid #5C5959;}

table.list_view {table-layout:fixed; width:98%; margin:1%;}
table.list_view th {background-color:#575656; color:white;}
table.list_view td {background-color:#E6E6E6; border:1px solid #5C5959;}

table.admin_view {table-layout:fixed; width:98%; margin:1%;}
table.admin_view th {background-color:#575656; color:white;}
table.admin_view td {background-color:#E6E6E6; border:1px solid #5C5959;}

table.detailed_view {table-layout:fixed; width:98%; margin:1%; border:1px solid #027ABB;}
table.detailed_view th {background-color:#575656; color:white; width:30%; text-align:right;}
table.detailed_view td {background-color:#E6E6E6; border:1px solid #5C5959;}

table.edit_view {table-layout:fixed; width:98%; margin:1%;}
table.edit_view th {background-color:#575656; color:white; width:50%; text-align:right;}
table.edit_view td {background-color:#E6E6E6; border:1px solid #5C5959;}

table.log_file {width:95%; margin:10px; overflow:scroll;}
table.log_file th {background-color:#575656; color:white; width:50%; text-align:center;}
table.log_file td {background-color:#E6E6E6; border:1px solid #5C5959;}
table.log_file td.validation {background-color:white;}
table.log_file td.warning {background-color:yellow;}
table.log_file td.php {background-color:orange;}
table.log_file td.framework {background-color:red; color:white;}
table.log_file td.other {background-color:black; color:white;}

img.externalLink {padding:0px; margin:0px; vertical-align:bottom; border:none;}

tr.zebraAlt td {background-color:#C3C2C2;}
tr.zebraOver td, tr.zebraOver:hover td {background-color:#FBF9EE;}

/* JQuery UI overrides */
.ui-widget {font-family: arial; font-size:10pt;}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {font-family: arial; font-size:10pt;}
.ui-state-highlight {margin: 1%;}
.ui-state-error {margin: 1%;}
.ui-tabs {margin: 1%;}

/* Menu */
ul.potato-menu {
	margin:0;
	padding:0;
	width:100%;
	list-style:none;
	background: #5C5959;
}
.potato-menu:after {
	content: " ";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
}
ul.potato-menu li.potato-menu-item {
	margin:0;
	padding:0;
	position:relative;
	list-style:none;
	list-style-position:outside;
	display:inline;
	float:left;
}
ul.potato-menu li.potato-menu-item a {
	display:block;
	text-decoration:none;
	white-space:nowrap;
	outline:0;
}
ul.potato-menu ul.potato-menu-group {
	margin:0;
	padding:0;
	-webkit-padding-start:0;
	-webkit-padding-end:0;
	position:absolute;
	display:none;
	z-index:1000;
}
ul.potato-menu-group a {
   width: 160px;
}
.potato-menu a {
    padding:5px 12px 5px 12px;
    background: #5C5959;
    color: #ffffff;
    padding-right:20px;
}
.potato-menu a:hover {
    background: #B6B2B2;
}