<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="phpunit.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="false"
>
    <php>
        <env name="HOSTNAME" value="unittests"/>
    </php>

    <logging>
        <log type="coverage-clover" target="./build/logs/clover.xml"/>
    </logging>

    <testsuites>
        <testsuite name="Alpha Framework Test Suite">
            <directory suffix="Test.php">./test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./Alpha</directory>
        </whitelist>
        <exclude>
            <directory>./vendor</directory>
            <directory>./test</directory>
            <directory>./build</directory>
        </exclude>
    </filter>
</phpunit>