<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" bootstrap="phpunit.php" colors="true" processIsolation="false" stopOnError="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <coverage>
    <report>
      <clover outputFile="clover.xml"/>
    </report>
  </coverage>
  <php>
    <env name="HOSTNAME" value="unittests" force="true"/>
  </php>
  <logging/>
  <testsuites>
    <testsuite name="Alpha Framework Test Suite">
      <directory suffix="Test.php">./test</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./Alpha</directory>
    </include>
  </source>
</phpunit>
