.padded {padding:25px; margin: 25px;}
.bordered {border:1px solid #CCCCCC; border-radius: 6px;}
.centered {text-align:center;}
.lower {position:relative; top:10px;}
.spread * {margin-right:10px;}
.table-bordered {table-layout:fixed;}
.btn {margin:5px;}

td.debug {background-color:white;}
td.info {background-color:lightgray;}
td.warn {background-color:yellow;}
td.error {background-color:orange;}
td.fatal {background-color:red; color:white;}
td.sql {background-color:black; color:white;}

div.wmd-preview {border:1px solid #CCCCCC; border-radius: 6px; padding:10px;}
#wmd-image-button-0 {display: none;}
#wmd-link-button-0 {display: none;}

span.success {color:blue;}
span.warning {color:red;}

body {padding: 25px;}

.form-control, .input-group-addon {
  padding: 0.3rem 1rem;
  padding-top: 0.3rem;
  padding-right: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.3rem;

  border-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}