Options Includes FollowSymLinks
IndexIgnore */*

# Turn on the RewriteEngine
RewriteEngine On

#  Rules
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php

# Restrict access to the following file types
<FilesMatch "\.(htaccess|ini|log|inc|conf)$">
	Order Allow,Deny
	Deny from all
</FilesMatch>