name: Install and unit tests

on: [push]

jobs:
  build-test:
    runs-on: ubuntu-latest
    
    services:
      redis:
        image: redis
        ports:
        - 6379:6379
      memcached:
        image: memcached
        ports:
        - 11211:11211
    
    env:
      DB_DATABASE: unittests
      DB_USER: root
      DB_PASSWORD: 'root'
      DB_HOST: localhost

    steps:
    - uses: actions/checkout@v2
    - uses: php-actions/composer@v5
      with:
        php_version: 7.4
        php_extensions: gd
    - run: |
          sudo /etc/init.d/mysql start
          mysql -e 'CREATE DATABASE unittests;' -uroot -proot
          mysql -e 'SHOW DATABASES;' -uroot -proot
          sudo /etc/init.d/memcached start
          sudo /etc/init.d/redis start
          sudo hostname unittests
    - uses: php-actions/phpunit@v2
      with:
        php_version: 7.4
        php_extensions: gd mysqli redis apcu memcached
