name: Install and unit tests

on: [push]

jobs:
  build-test:
    runs-on: ubuntu-latest
    
    env:
      DB_DATABASE: unittests
      DB_USER: root
      DB_PASSWORD: 'root'
      DB_HOST: localhost

    steps:
    - uses: actions/checkout@v2
    - uses: php-actions/composer@v5
      with:
        php_version: 7.4
        php_extensions: gd
    - run: |
          sudo /etc/init.d/mysql start
          mysql -e 'CREATE DATABASE unittests;' -uroot -proot
          mysql -e 'SHOW DATABASES;' -uroot -proot
          sudo hostname unittests
    - uses: php-actions/phpunit@v2
      with:
        php_version: 7.4
        php_extensions: gd mysqli redis apcu
