name: Install and unit tests

on: [push]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: php-actions/composer@v5
      with:
        php_version: 7.4
        php_extensions: gd
    - uses: php-actions/phpunit@v2
      with:
        php_version: 7.4
        php_extensions: gd
