name: Install and unit tests

on: [push]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: php-actions/composer@v2
      with:
        php-version: 7.4
    - uses: php-actions/phpunit@v2
      with:
        php-version: 7.4
