name: Install and unit tests
on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]
jobs:
  job1:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        php: ['7.4']
    steps:
      - uses: shivammathur/setup-php@develop
        with:
          php-version: ${{ matrix.php }}
          extensions: gd-php/php-src@PHP-${{ matrix.php }}
        env:
          GD_CONFIGURE_OPTS: --enable-gd=shared,/usr --with-external-gd --with-jpeg
          GD_LIBS: libgd-dev libjpeg-dev
          GD_PATH: ext/gd
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Composer Install Project
        uses: php-actions/composer@v2
        with:
          php-version: ${{ matrix.php }}
      - name: Run Unit Tests
        uses: php-actions/phpunit@v8
        with:
          php-version: ${{ matrix.php }}
